
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
padding-top: 4rem;
}
.active{
    @apply text-green-700 underline
}
.btn{
@apply px-4 py-2 mt-8 rounded;
}
.btn-green{
    @apply text-white bg-green-600 hover:bg-green-700 ;
}

.alert{
    @apply p-4 rounded-lg
    
}
.alert-error{
    @apply bg-red-100 text-red-600 border border-red-300
}
.btn:disabled{
    @apply opacity-40
}
.row{
    @apply flex flex-wrap -mx-4
}

.product:hover{
    box-shadow: 0px 2px 4px -1px , rgba(145,158,171,0.14) 0px 4px 5px 0px, rgba(145,158,171,0.12), 0px 1px 10px 0px;
    border: 1px solid gray
}
.product .btn{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
    opacity: 1;
    transform: translateY(0);
  
}